<!--<div class="modal fade" id="selectMaterialsModal" aria-hidden="true"-->
<!--     aria-labelledby="exampleModalToggleLabel" tabindex="-1">-->
<!--    <div class="modal-dialog modal-dialog-centered">-->
<!--        <div class="modal-content">-->
<!--            <div class="modal-header">-->
<!--                <h5 class="modal-title">Окно выбора позиции</h5>-->
<!--                <button type="button" class="btn-close" data-bs-dismiss="modal"-->
<!--                        aria-label="Close"></button>-->
<!--            </div>-->

<!--            <div class="modal-body">-->
<!--                <button class="btn btn-outline-primary btn-xl mb-0 col-lg-12"-->
<!--                        data-bs-target="#selectWindowsillModal"-->
<!--                        data-bs-toggle="modal" data-bs-dismiss="modal">Подоконники и комплектующие-->
<!--                </button>-->
<!--                <button class="btn btn-outline-primary btn-xl mb-0 col-lg-12 m-2"-->
<!--                        data-bs-target="#selectLowTidesModal"-->
<!--                        data-bs-toggle="modal" data-bs-dismiss="modal">Отливы и комплектующие-->
<!--                </button>-->
<!--                <button class="btn bg-gradient-primary mb-2 col-12"-->
<!--                        data-bs-target="#visorsModal"-->
<!--                        data-bs-toggle="modal" data-bs-dismiss="modal">Козырьки-->
<!--                </button>-->
<!--                <button class="btn bg-gradient-primary mb-2 col-12"-->
<!--                        data-bs-target="#flashingModal"-->
<!--                        data-bs-toggle="modal" data-bs-dismiss="modal">Нащельники-->
<!--                </button>-->
<!--                <button class="btn bg-gradient-primary mb-2 col-12"-->
<!--                        data-bs-target="#casingModal"-->
<!--                        data-bs-toggle="modal" data-bs-dismiss="modal">Наличники-->
<!--                </button>-->

<!--                <button class="btn bg-gradient-primary mb-2 col-12"-->
<!--                        data-bs-target="#slopesOfMetalModal"-->
<!--                        data-bs-toggle="modal" data-bs-dismiss="modal">Откосы из металла-->
<!--                </button>-->
<!--                <button class="btn bg-gradient-primary mb-2 col-12"-->
<!--                        data-bs-target="#internalSlopesModal"-->
<!--                        data-bs-toggle="modal" data-bs-dismiss="modal">Внутренние откосы-->
<!--                </button>-->
<!--                <button class="btn bg-gradient-primary mb-2 col-12"-->
<!--                        data-bs-target="#mountingMaterialsModal"-->
<!--                        data-bs-toggle="modal" data-bs-dismiss="modal">Монтажные материалы-->
<!--                </button>-->
<!--            </div>-->
<!--            <div class="modal-footer">-->

<!--                <button class="btn btn-primary"-->
<!--                        data-bs-toggle="modal" data-bs-dismiss="modal">Закрыть-->
<!--                </button>-->


<!--            </div>-->

<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<!--<div class="modal fade" id="selectWindowsillModal" aria-hidden="true"-->
<!--     aria-labelledby="exampleModalToggleLabel2" tabindex="-1">-->
<!--    <div class="modal-dialog modal-dialog-centered">-->
<!--        <div class="modal-content">-->
<!--            <div class="modal-header">-->
<!--                <h5 class="modal-title" id="exampleModalToggleLabel2">Подоконники и комплектующие</h5>-->
<!--                <button type="button" class="btn-close" data-bs-dismiss="modal"-->
<!--                        aria-label="Close"></button>-->
<!--            </div>-->
<!--            <div class="modal-body row">-->
<!--                <button class="btn btn-outline-primary mb-0 col-6" data-bs-target="#windowsillModal"-->
<!--                        data-bs-toggle="modal" data-bs-dismiss="modal">&nbsp;Подоконники-->
<!--                    <i-->
<!--                            class="fas fa-plus"></i>-->
<!--                </button>-->
<!--                <button class="btn btn-outline-primary mb-0 col-6"-->
<!--                        data-bs-target="#windowsillComplectModal"-->
<!--                        data-bs-toggle="modal" data-bs-dismiss="modal">&nbsp;Комплектующие-->
<!--                    <i-->
<!--                            class="fas fa-plus"></i>-->
<!--                </button>-->
<!--            </div>-->
<!--            <div class="modal-footer">-->
<!--                <button class="btn btn-primary" data-bs-target="#windowsillCalcModal"-->
<!--                        data-bs-toggle="modal" data-bs-dismiss="modal">Назад-->
<!--                </button>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<div class="modal fade" id="windowsillModal" aria-hidden="true"
     aria-labelledby="exampleModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"> Подоконники</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="row">
                        {{ form_windowsill_calc }}
                    </div>
                    <button type="submit" class="btn btn-success mt-2" style="width:100%">Добавить
                    </button>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-outline-primary" data-bs-target="#windowsillCalcModal"
                        data-bs-toggle="modal" data-bs-dismiss="modal">Назад
                </button>
                <button class="btn btn-dark"
                        data-bs-toggle="modal" data-bs-dismiss="modal">Закрыть
                </button>


            </div>

        </div>
    </div>
</div>

<!--<div class="modal fade" id="windowsillComplectModal" aria-hidden="true"-->
<!--     aria-labelledby="exampleModalToggleLabel" tabindex="-1">-->
<!--    <div class="modal-dialog modal-dialog-centered">-->
<!--        <div class="modal-content">-->
<!--            <div class="modal-header">-->
<!--                <h5 class="modal-title" id="ModaWindowsill">Комплектующие к подоконникам</h5>-->
<!--                <button type="button" class="btn-close" data-bs-dismiss="modal"-->
<!--                        aria-label="Close"></button>-->
<!--            </div>-->

<!--            <div class="modal-body">-->
<!--                <form method="post" enctype="multipart/form-data">-->
<!--                    {% csrf_token %}-->

<!--                    <div class="row">-->
<!--                        {{ form_windowsill_complect_calc }}-->
<!--                    </div>-->
<!--                    <button type="submit" class="btn btn-success mt-2" style="width:100%">Добавить-->
<!--                    </button>-->
<!--                </form>-->

<!--            </div>-->
<!--            <div class="modal-footer">-->

<!--                <button class="btn btn-outline-primary" data-bs-target="#windowsillCalcModal"-->
<!--                        data-bs-toggle="modal" data-bs-dismiss="modal">Назад-->
<!--                </button>-->
<!--                <button class="btn btn-dark"-->
<!--                        data-bs-toggle="modal" data-bs-dismiss="modal">Закрыть-->
<!--                </button>-->


<!--            </div>-->

<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<!--<div class="modal fade" id="selectLowTidesModal" aria-hidden="true"-->
<!--     aria-labelledby="exampleModalToggleLabel2" tabindex="-1">-->
<!--    <div class="modal-dialog modal-dialog-centered">-->
<!--        <div class="modal-content">-->
<!--            <div class="modal-header">-->
<!--                <h5 class="modal-title">Отливы и комплектующие</h5>-->
<!--                <button type="button" class="btn-close" data-bs-dismiss="modal"-->
<!--                        aria-label="Close"></button>-->
<!--            </div>-->
<!--            <div class="modal-body row">-->
<!--                <button class="btn btn-outline-primary mb-0 col-6" data-bs-target="#lowTidesModal"-->
<!--                        data-bs-toggle="modal" data-bs-dismiss="modal">&nbsp;Отливы-->
<!--                    <i-->
<!--                            class="fas fa-plus"></i>-->
<!--                </button>-->
<!--                <button class="btn btn-outline-primary mb-0 col-6"-->
<!--                        data-bs-target="#lowTidesComplectModal"-->
<!--                        data-bs-toggle="modal" data-bs-dismiss="modal">&nbsp;Комплектующие-->
<!--                    <i-->
<!--                            class="fas fa-plus"></i>-->
<!--                </button>-->
<!--            </div>-->
<!--            <div class="modal-footer">-->
<!--                <button class="btn btn-primary" data-bs-target="#lowTidesCalcModal"-->
<!--                        data-bs-toggle="modal" data-bs-dismiss="modal">Назад-->
<!--                </button>-->
<!--                     <button class="btn btn-dark"-->
<!--                        data-bs-toggle="modal" data-bs-dismiss="modal">Закрыть-->
<!--                </button>-->


<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<div class="modal fade" id="lowTidesModal" aria-hidden="true"
     aria-labelledby="exampleModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"> Отливы</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="row">
                        {{ form_low_tides_calc }}
                    </div>
                    <button type="submit" class="btn btn-success mt-2" style="width:100%">Добавить
                    </button>
                </form>
            </div>
            <div class="modal-footer">

                <button class="btn btn-primary" data-bs-target="#selectLowTidesModal"
                        data-bs-toggle="modal" data-bs-dismiss="modal">Назад
                </button>
                <button class="btn btn-dark"
                        data-bs-toggle="modal" data-bs-dismiss="modal">Закрыть
                </button>


            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="lowTidesComplectModal" aria-hidden="true"
     aria-labelledby="exampleModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Комплектующие к отливам</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="row">
                        {{ form_low_tides_complect_calc }}
                    </div>
                    <button type="submit" class="btn btn-success mt-2" style="width:100%">Добавить
                    </button>
                </form>
            </div>
            <div class="modal-footer">

                <button class="btn btn-primary" data-bs-target="#selectLowTidesModal"
                        data-bs-toggle="modal" data-bs-dismiss="modal">Назад
                </button>
                <button class="btn btn-dark"
                        data-bs-toggle="modal" data-bs-dismiss="modal">Закрыть
                </button>


            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="visorsModal" aria-hidden="true"
     aria-labelledby="exampleModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"> Козырьки</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="row">
                        {{ form_visors_calc }}
                    </div>
                    <button type="submit" class="btn btn-success mt-2" style="width:100%">Добавить
                    </button>
                </form>
            </div>
            <div class="modal-footer">

                <button class="btn btn-primary" data-bs-target="#visorsCalcModal"
                        data-bs-toggle="modal" data-bs-dismiss="modal">Назад
                </button>
                <button class="btn btn-dark"
                        data-bs-toggle="modal" data-bs-dismiss="modal">Закрыть
                </button>


            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="flashingModal" aria-hidden="true"
     aria-labelledby="exampleModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"> Нащельники</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="row">
                        {{ form_flashing_calc }}
                    </div>
                    <button type="submit" class="btn btn-success mt-2" style="width:100%">Добавить
                    </button>
                </form>
            </div>
            <div class="modal-footer">

                <button class="btn btn-primary" data-bs-target="#flashingCalcModal"
                        data-bs-toggle="modal" data-bs-dismiss="modal">Назад
                </button>
                <button class="btn btn-dark"
                        data-bs-toggle="modal" data-bs-dismiss="modal">Закрыть
                </button>


            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="casingModal" aria-hidden="true"
     aria-labelledby="exampleModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"> Наличники</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="row">
                        {{ form_casing_calc }}
                    </div>
                    <button type="submit" class="btn btn-success mt-2" style="width:100%">Добавить
                    </button>
                </form>
            </div>
            <div class="modal-footer">

                <button class="btn btn-primary" data-bs-target="#casingCalcModal"
                        data-bs-toggle="modal" data-bs-dismiss="modal">Назад
                </button>
                <button class="btn btn-dark"
                        data-bs-toggle="modal" data-bs-dismiss="modal">Закрыть
                </button>


            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="slopesOfMetalModal" aria-hidden="true"
     aria-labelledby="exampleModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"> Откосы из металла</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="row">
                        {{ form_slopes_of_metal_calc }}
                    </div>
                    <button type="submit" class="btn btn-success mt-2" style="width:100%">Добавить
                    </button>
                </form>
            </div>
            <div class="modal-footer">

                <button class="btn btn-primary" data-bs-target="#slopesOfMetalCalcModal"
                        data-bs-toggle="modal" data-bs-dismiss="modal">Назад
                </button>
                <button class="btn btn-dark"
                        data-bs-toggle="modal" data-bs-dismiss="modal">Закрыть
                </button>


            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="internalSlopesModal" aria-hidden="true"
     aria-labelledby="exampleModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"> Внутренние откосы</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="row">
                        {{ form_internal_slopes_calc }}
                    </div>
                    <button type="submit" class="btn btn-success mt-2" style="width:100%">Добавить
                    </button>
                </form>
            </div>
            <div class="modal-footer">

                <button class="btn btn-primary" data-bs-target="#internalSlopesCalcModal"
                        data-bs-toggle="modal" data-bs-dismiss="modal">Назад
                </button>
                <button class="btn btn-dark"
                        data-bs-toggle="modal" data-bs-dismiss="modal">Закрыть
                </button>


            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="mountingMaterialsModal" aria-hidden="true"
     aria-labelledby="exampleModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"> Монтажные материалы</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="row">
                        {{ form_mounting_materials_calc }}
                    </div>
                    <button type="submit" class="btn btn-success mt-2" style="width:100%">Добавить
                    </button>
                </form>
            </div>
            <div class="modal-footer">

                <button class="btn btn-primary" data-bs-target="#mountingMaterialsCalcModal"
                        data-bs-toggle="modal" data-bs-dismiss="modal">Назад
                </button>
                <button class="btn btn-dark"
                        data-bs-toggle="modal" data-bs-dismiss="modal">Закрыть
                </button>


            </div>

        </div>
    </div>
</div>