<div class="modal fade" id="materialsModal" aria-hidden="true"
     aria-labelledby="exampleModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Материалы</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <button class="btn bg-gradient-primary mb-2 col-12"
                        data-bs-target="#windowsillCalcModal"
                        data-bs-toggle="modal" data-bs-dismiss="modal">Подоконники и комплектующие
                </button>
                <button class="btn bg-gradient-primary mb-2 col-12"
                        data-bs-target="#lowTidesCalcModal"
                        data-bs-toggle="modal" data-bs-dismiss="modal">Отливы и комплектующие
                </button>


            </div>
            <div class="modal-footer">

                <button class="btn btn-dark"
                        data-bs-toggle="modal" data-bs-dismiss="modal">Закрыть
                </button>


            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="windowsillCalcModal" aria-hidden="true"
     aria-labelledby="exampleModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Подоконники и комплектующие</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>

            <div class="modal-body">
                {% for el in windowsill_calc %}
                <li class="list-group-item border-0 d-flex p-4 mb-2 bg-gray-100 border-radius-lg">
                    <div class="d-flex flex-column">
                        <h6 class="mb-3 text-sm">{{ el.windowsill.name }}</h6>
                        <span class="mb-2 text-xs">Ширина: <span
                                class="text-dark font-weight-bold ms-sm-2">{{ el.windowsill_width.name }}</span></span>
                        <span class="mb-2 text-xs">Длина: <span
                                class="text-dark font-weight-bold ms-sm-2">{{ el.length }}</span></span>
                        <span class="mb-2 text-xs">Количество: <span
                                class="text-dark font-weight-bold ms-sm-2">{{ el.count }}</span></span>
                        <span class="mb-2 text-xs">В метрах квадратных: <span
                                class="text-dark font-weight-bold ms-sm-2">{{ el.square_meter }}</span></span>
                        <span class="mb-2 text-xs">В метрах погонных: <span
                                class="text-dark font-weight-bold ms-sm-2">{{ el.linear_meter }}</span></span>
                        <span class="mb-2 text-xs">Цена BYN: <span
                                class="text-dark font-weight-bold ms-sm-2">{{ el.price_in_byn }}</span></span>
                        <span class="mb-2 text-xs">Цена EUR/USD: <span
                                class="text-dark font-weight-bold ms-sm-2">{{ el.price_in_currency }}</span></span>
                    </div>
                    <div class="ms-auto text-end">
                        <form method="get" enctype="multipart/form-data">
                            {% csrf_token %}

                            <input type="text" class="form-control mt-2 mb-2"
                                   placeholder="id_windowsill_calc"
                                   name="id_windowsill_calc" value="{{ el.pk }}" style="display:none">
                            <button class="btn btn-link text-danger text-gradient px-3 mb-0"
                                    href="javascript:;" type="submit"><i
                                    class="far fa-trash-alt me-2"></i>Удалить
                            </button>
                        </form>
                    </div>
                </li>
                {% endfor %}

                {% for el in windowsill_complect_calc %}
                <li class="list-group-item border-0 d-flex p-4 mb-2 bg-gray-100 border-radius-lg">
                    <div class="d-flex flex-column">
                        <h6 class="mb-3 text-sm">{{ el.windowsill.name }}</h6>
                        <span class="mb-2 text-xs">Количество: <span
                                class="text-dark font-weight-bold ms-sm-2">{{ el.count }}</span></span>
                        <span class="mb-2 text-xs">Цена BYN: <span
                                class="text-dark font-weight-bold ms-sm-2">{{ el.price_in_byn }}</span></span>
                        <span class="mb-2 text-xs">Цена EUR/USD: <span
                                class="text-dark font-weight-bold ms-sm-2">{{ el.price_in_currency }}</span></span>
                    </div>
                    <div class="ms-auto text-end">
                        <form method="get" enctype="multipart/form-data">
                            {% csrf_token %}

                            <input type="text" class="form-control mt-2 mb-2"
                                   placeholder="id_windowsill_calc"
                                   name="id_windowsill_complect_calc" value="{{ el.pk }}"
                                   style="display:none">
                            <button class="btn btn-link text-danger text-gradient px-3 mb-0"
                                    href="javascript:;" type="submit"><i
                                    class="far fa-trash-alt me-2"></i>Удалить
                            </button>
                        </form>
                    </div>
                </li>
                {% endfor %}
            </div>
            <div class="modal-footer">

                <button class="btn btn-primary" data-bs-target="#materialsModal"
                        data-bs-toggle="modal" data-bs-dismiss="modal">Назад
                </button>
                <button class="btn btn-dark"
                        data-bs-toggle="modal" data-bs-dismiss="modal">Закрыть
                </button>


            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="lowTidesCalcModal" aria-hidden="true"
     aria-labelledby="exampleModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Отливы и комплектующие</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>

            <div class="modal-body">
                {% for el in low_tides_calc %}
                <li class="list-group-item border-0 d-flex p-4 mb-2 bg-gray-100 border-radius-lg">
                    <div class="d-flex flex-column">
                        <h6 class="mb-3 text-sm">{{ el.low_tides.name }}</h6>
                        <span class="mb-2 text-xs">Ширина: <span
                                class="text-dark font-weight-bold ms-sm-2">{{ el.width }}</span></span>
                        <span class="mb-2 text-xs">Длина: <span
                                class="text-dark font-weight-bold ms-sm-2">{{ el.length }}</span></span>
                        <span class="mb-2 text-xs">Количество: <span
                                class="text-dark font-weight-bold ms-sm-2">{{ el.count }}</span></span>
                        <span class="mb-2 text-xs">В метрах квадратных: <span
                                class="text-dark font-weight-bold ms-sm-2">{{ el.square_meter }}</span></span>
                        <span class="mb-2 text-xs">В метрах погонных: <span
                                class="text-dark font-weight-bold ms-sm-2">{{ el.linear_meter }}</span></span>
                        <span class="mb-2 text-xs">Цена BYN: <span
                                class="text-dark font-weight-bold ms-sm-2">{{ el.price_in_byn }}</span></span>
                        <span class="mb-2 text-xs">Цена EUR/USD: <span
                                class="text-dark font-weight-bold ms-sm-2">{{ el.price_in_currency }}</span></span>
                    </div>
                    <div class="ms-auto text-end">
                        <form method="get" enctype="multipart/form-data">
                            {% csrf_token %}

                            <input type="text" class="form-control mt-2 mb-2"
                                   placeholder="id_low_tides_calc"
                                   name="id_low_tides_calc" value="{{ el.pk }}" style="display:none">
                            <button class="btn btn-link text-danger text-gradient px-3 mb-0"
                                    href="javascript:;" type="submit"><i
                                    class="far fa-trash-alt me-2"></i>Удалить
                            </button>
                        </form>
                    </div>
                </li>
                {% endfor %}

                {% for el in low_tides_complect_calc %}
                <li class="list-group-item border-0 d-flex p-4 mb-2 bg-gray-100 border-radius-lg">
                    <div class="d-flex flex-column">
                        <h6 class="mb-3 text-sm">{{ el.low_tides.name }}</h6>
                        <span class="mb-2 text-xs">Количество: <span
                                class="text-dark font-weight-bold ms-sm-2">{{ el.count }}</span></span>
                        <span class="mb-2 text-xs">Цена BYN: <span
                                class="text-dark font-weight-bold ms-sm-2">{{ el.price_in_byn }}</span></span>
                        <span class="mb-2 text-xs">Цена EUR/USD: <span
                                class="text-dark font-weight-bold ms-sm-2">{{ el.price_in_currency }}</span></span>
                    </div>
                    <div class="ms-auto text-end">
                        <form method="get" enctype="multipart/form-data">
                            {% csrf_token %}

                            <input type="text" class="form-control mt-2 mb-2"
                                   placeholder="id_low_tides_calc"
                                   name="id_low_tides_complect_calc" value="{{ el.pk }}"
                                   style="display:none">
                            <button class="btn btn-link text-danger text-gradient px-3 mb-0"
                                    href="javascript:;" type="submit"><i
                                    class="far fa-trash-alt me-2"></i>Удалить
                            </button>
                        </form>
                    </div>
                </li>
                {% endfor %}
            </div>
            <div class="modal-footer">

                <button class="btn btn-primary" data-bs-target="#materialsModal"
                        data-bs-toggle="modal" data-bs-dismiss="modal">Назад
                </button>
                <button class="btn btn-dark"
                        data-bs-toggle="modal" data-bs-dismiss="modal">Закрыть
                </button>


            </div>
        </div>
    </div>
</div>
