<div class="modal fade" id="worksModal" aria-hidden="true"
     aria-labelledby="exampleModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Работы</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <button type="button" class="btn btn-outline-primary btn-xl mb-0 col-lg-12 mb-2"
                        data-bs-target="#worksCalcModal"
                        data-bs-toggle="modal" data-bs-dismiss="modal">Добавить работу
                </button>
                {% for el in works_calc %}
                <li class="list-group-item border-0 d-flex p-4 mb-2 bg-gray-100 border-radius-lg">
                    <div class="d-flex flex-column">
                        <h6 class="mb-3 text-sm">{{ el.works.name }}</h6>
                        <span class="mb-2 text-xs">Количество: <span
                                class="text-dark font-weight-bold ms-sm-2">{{ el.count }}</span></span>
                        <span class="mb-2 text-xs">Цена BYN: <span
                                class="text-dark font-weight-bold ms-sm-2">{{ el.price_in_byn }}</span></span>
                    </div>
                    <div class="ms-auto text-end">
                        <form method="get" enctype="multipart/form-data">
                            {% csrf_token %}

                            <input type="text" class="form-control mt-2 mb-2"
                                   placeholder="id_works_calc"
                                   name="id_works_calc" value="{{ el.pk }}" style="display:none">
                            <button class="btn btn-link text-danger text-gradient px-3 mb-0"
                                    href="javascript:;" type="submit"><i
                                    class="far fa-trash-alt me-2"></i>Удалить
                            </button>
                        </form>
                    </div>
                </li>
                {% endfor %}


            </div>
            <div class="modal-footer">
                <button class="btn btn-dark"
                        data-bs-toggle="modal" data-bs-dismiss="modal">Закрыть
                </button>


            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="worksCalcModal" aria-hidden="true"
     aria-labelledby="exampleModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"> Работы</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="row">
                        {{ form_works_calc }}
                    </div>
                    <button type="submit" class="btn btn-success mt-2" style="width:100%">Добавить
                    </button>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-bs-target="#worksModal"
                        data-bs-toggle="modal" data-bs-dismiss="modal">Назад
                </button>
                <button class="btn btn-dark"
                        data-bs-toggle="modal" data-bs-dismiss="modal">Закрыть
                </button>


            </div>

        </div>
    </div>
</div>

